---

---

<!-- Clients Section -->
<section
  id="clients"
  class="clients section light-background"
  style="overflow: hidden;"
>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 3500,
          "autoplay": {
            "delay": 0,
            "disableOnInteraction": false
          },
          "slidesPerView": "auto",
          "allowTouchMove": false,
          "breakpoints": {
            "320": {
              "slidesPerView": 2,
              "spaceBetween": 40
            },
            "480": {
              "slidesPerView": 3,
              "spaceBetween": 60
            },
            "640": {
              "slidesPerView": 4,
              "spaceBetween": 80
            },
            "992": {
              "slidesPerView": 6,
              "spaceBetween": 120
            }
          }
        }
      </script>
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-1.png"
            class="img-fluid"
            alt="Client 1"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-2.png"
            class="img-fluid"
            alt="Client 2"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-3.png"
            class="img-fluid"
            alt="Client 3"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-4.png"
            class="img-fluid"
            alt="Client 4"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-5.png"
            class="img-fluid"
            alt="Client 5"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-6.png"
            class="img-fluid"
            alt="Client 6"
          />
        </div>
        <!-- Duplicated for seamless loop -->
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-1.png"
            class="img-fluid"
            alt="Client 1"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-2.png"
            class="img-fluid"
            alt="Client 2"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-3.png"
            class="img-fluid"
            alt="Client 3"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-4.png"
            class="img-fluid"
            alt="Client 4"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-5.png"
            class="img-fluid"
            alt="Client 5"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/assets/img/clients/client-6.png"
            class="img-fluid"
            alt="Client 6"
          />
        </div>
      </div>
    </div>
  </div>

  <style>
    .clients {
      padding: 15px 0;
    }
    .clients .swiper-wrapper {
      transition-timing-function: linear !important;
    }
    .clients .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .clients .swiper-slide img {
      max-width: 120px;
      opacity: 0.5;
      transition: 0.3s;
      filter: grayscale(100);
    }
    .clients .swiper-slide img:hover {
      opacity: 1;
      filter: none;
    }
  </style>
</section><!-- /Clients Section -->
