---

---

<!-- Contact Section -->
<section id="contact" class="contact section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contacto</h2>
    <p>Estamos listos para integrar el futuro en tu empresa</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-lg-12">
            <div
              class="info-item d-flex flex-column justify-content-center align-items-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <i class="bi bi-geo-alt"></i>
              <h3>Ubicación</h3>
              <p>Lima, Perú</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div
              class="info-item d-flex flex-column justify-content-center align-items-center"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-telephone"></i>
              <h3>Llámanos</h3>
              <p>+51 900 000 000</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div
              class="info-item d-flex flex-column justify-content-center align-items-center"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <i class="bi bi-envelope"></i>
              <h3>Correo</h3>
              <p>contacto@iris.com.pe</p>
            </div>
          </div><!-- End Info Item -->
        </div>
      </div>

      <div class="col-lg-6">
        <form
          action="/forms/contact.php"
          method="post"
          class="php-email-form"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <div class="row gy-4">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nombre"
                required=""
              />
            </div>

            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Correo Electrónico"
                required=""
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="subject"
                placeholder="Asunto"
                required=""
              />
            </div>

            <div class="col-md-12">
              <textarea
                class="form-control"
                name="message"
                rows="4"
                placeholder="Mensaje"
                required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Cargando</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Tu mensaje ha sido enviado. ¡Gracias!
              </div>

              <button type="submit">Enviar Mensaje</button>
            </div>
          </div>
        </form>
      </div><!-- End Contact Form -->
    </div>
  </div>
</section><!-- /Contact Section -->
