---

---

<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center"
  >
    <a href="/" class="logo d-flex align-items-center me-auto">
      <img src="/logo-ojo.webp" alt="Iris Logo" />
      <div class="logo-text d-flex flex-column">
        <span class="brand-name">iRiS</span>
      </div>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="active">Inicio</a></li>
        <li><a href="/#about">Nosotros</a></li>
        <li><a href="/#services">Soluciones</a></li>
        <li><a href="/#portfolio">Proyectos</a></li>
        <li><a href="/#team">Equipo</a></li>
        <li><a href="/#contact">Contacto</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="cta-btn" href="/#contact">ESCRIBENOS</a>
  </div>
</header>
