---

---

<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Proyectos</h2>
    <p>NUESTRO PORTAFOLIO</p>
  </div><!-- End Section Title -->

  <div class="container">
    <div
      class="isotope-layout"
      data-default-filter="*"
      data-layout="masonry"
      data-sort="original-order"
    >
      <ul
        class="portfolio-filters isotope-filters"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <li data-filter="*" class="filter-active">Todos</li>
        <li data-filter=".filter-app">Apps</li>
        <li data-filter=".filter-product">Sistemas</li>
        <li data-filter=".filter-branding">Estrategia</li>
        <li data-filter=".filter-books">Logística</li>
      </ul><!-- End Portfolio Filters -->

      <div
        class="row gy-4 isotope-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-app"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/app-1.png"
              class="img-fluid"
              alt="Desarrollo de Aplicación Móvil - iRiS"
            />
            <div class="portfolio-info">
              <h4>Plataforma Fintech</h4>
              <p>Seguridad y escalabilidad financiera</p>
              <a
                id="portfolio-first-link"
                href="/assets/img/portfolio/app-1.png"
                title="Plataforma Fintech"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-product"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/product-1.png"
              class="img-fluid"
              alt="Sistema de Gestión Empresarial - iRiS"
            />
            <div class="portfolio-info">
              <h4>Sistema ERP Industrial</h4>
              <p>Control total de procesos operativos</p>
              <a
                href="/assets/img/portfolio/product-1.png"
                title="Sistema ERP Industrial"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-branding"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/branding-1.png"
              class="img-fluid"
              alt="Consultoría en Estrategia Digital - iRiS"
            />
            <div class="portfolio-info">
              <h4>Consultoría de Innovación</h4>
              <p>Estrategia digital de alto impacto</p>
              <a
                href="/assets/img/portfolio/branding-1.png"
                title="Consultoría de Innovación"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-books"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/books-1.png"
              class="img-fluid"
              alt="Solución Logística Inteligente - iRiS"
            />
            <div class="portfolio-info">
              <h4>WMS Inteligente</h4>
              <p>Gestión avanzada de inventarios</p>
              <a
                href="/assets/img/portfolio/books-1.png"
                title="WMS Inteligente"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-app"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/app-2.png"
              class="img-fluid"
              alt="Plataforma Digital a Medida"
            />
            <div class="portfolio-info">
              <h4>HealthTech App</h4>
              <p>Monitoreo de salud en tiempo real</p>
              <a
                href="/assets/img/portfolio/app-2.png"
                title="HealthTech App"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-product"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/product-2.png"
              class="img-fluid"
              alt="Software Industrial Especializado"
            />
            <div class="portfolio-info">
              <h4>SaaS Management</h4>
              <p>Plataforma para gestión de equipos</p>
              <a
                href="/assets/img/portfolio/product-2.png"
                title="SaaS Management"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-branding"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/branding-2.png"
              class="img-fluid"
              alt="Estrategia de Crecimiento iRiS"
            />
            <div class="portfolio-info">
              <h4>Estrategia Global</h4>
              <p>Expansión de mercados digitales</p>
              <a
                href="/assets/img/portfolio/branding-2.png"
                title="Estrategia Global"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-books"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/books-2.png"
              class="img-fluid"
              alt="Procesos Logísticos Automatizados"
            />
            <div class="portfolio-info">
              <h4>Logística 4.0</h4>
              <p>Optimización de rutas y transportes</p>
              <a
                href="/assets/img/portfolio/books-2.png"
                title="Logística 4.0"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-app"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/app-3.png"
              class="img-fluid"
              alt="Ecosistema Digital iRiS"
            />
            <div class="portfolio-info">
              <h4>E-commerce Premium</h4>
              <p>Experiencia de compra de lujo</p>
              <a
                href="/assets/img/portfolio/app-3.png"
                title="E-commerce Premium"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-product"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/product-3.png"
              class="img-fluid"
              alt="Automatización Industrial Avanzada"
            />
            <div class="portfolio-info">
              <h4>Software Médico</h4>
              <p>Diagnóstico asistido por tecnología</p>
              <a
                href="/assets/img/portfolio/product-3.png"
                title="Software Médico"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-branding"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/branding-3.png"
              class="img-fluid"
              alt="Transformación de Marca Digital"
            />
            <div class="portfolio-info">
              <h4>Branding Futurista</h4>
              <p>Identidad visual con visión 3D</p>
              <a
                href="/assets/img/portfolio/branding-3.png"
                title="Branding Futurista"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->

        <div
          class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-books"
        >
          <div class="portfolio-content h-100">
            <img
              src="/assets/img/portfolio/books-3.png"
              class="img-fluid"
              alt="Gestión de Almacenes WMS"
            />
            <div class="portfolio-info">
              <h4>Picking con IA</h4>
              <p>Eficiencia máxima en almacenes</p>
              <a
                href="/assets/img/portfolio/books-3.png"
                title="Picking con IA"
                data-gallery="portfolio-gallery"
                class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a
              >
              <a
                href="/portfolio-details/"
                title="More Details"
                class="details-link"><i class="bi bi-link-45deg"></i></a
              >
            </div>
          </div>
        </div><!-- End Portfolio Item -->
      </div><!-- End Portfolio Container -->
    </div>
  </div>
  <style>
    /* Estilos para el grid de 2 columnas en móvil */
    @media (max-width: 575px) {
      .portfolio .portfolio-item {
        padding-left: 5px;
        padding-right: 5px;
        width: 50% !important; /* Forzamos el ancho al 50% */
      }
      .portfolio .portfolio-content .portfolio-info {
        padding: 10px;
      }
      .portfolio .portfolio-content .portfolio-info h4 {
        font-size: 12px;
        padding: 3px 6px;
      }
      .portfolio .portfolio-content .portfolio-info p {
        font-size: 11px;
        bottom: 5px;
      }
      .portfolio .portfolio-content .portfolio-info .preview-link,
      .portfolio .portfolio-content .portfolio-info .details-link {
        font-size: 18px;
        left: calc(50% - 25px);
        top: calc(50% - 10px);
      }
      .portfolio .portfolio-content .portfolio-info .details-link {
        left: 50%;
        font-size: 24px;
      }
      .portfolio .portfolio-filters li {
        margin: 0 4px;
        font-size: 13px;
      }
    }
  </style>
  <!-- /Portfolio Section -->
</section>
